*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  width: 95vw;
  height: 82vh;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
  border: 1px solid #5c5e4c;
}

.content {
  width: 100%;
  height: 100%;
  display: none;
}

.active-content {
  display: block;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.btn {
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background: #5c5e4c;
  width: 100%;
}
